.flex-2 {
  flex: 2;
}

[data-reach-skip-link]:focus {
  @apply bg-gray-800;
  @apply text-white;
  @apply px-3;
  @apply py-1;
  z-index: 60;
}

.MuiButton-contained {
  box-shadow: none !important;
}

.MuiButton-contained:hover {
  box-shadow: none !important;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20px;
  width: 1px;
}